arch/dot_bashrc    linguist-language=Shell linguist-detectable
arch/dot_gitconfig linguist-language=Git-Config
mac/dot_zshrc      linguist-language=Shell linguist-detectable
mac/dot_gitconfig  linguist-language=Git-Config
